.idea/
/src/
/depot_tools/
/ungoogled-chromium/
/.cipd/
/apk_out/
/domsubcache*.tar.gz
/android-sdk/
/android-ndk/
/_gclient_*
/.gclient_entries
/.gclient_previous*
/.gcs_entries
/PHASE1_GATE_PASSED
/PHASE2_GATE_PASSED
/*_PASSED

/ChromePublic*.apk
/ChromePublic*.aab
/*.keystore
/sha256sums_*.txt
/ChromePublic_*_sha256.txt
/LOCKED_BASE_READY
/out/
releases/
